html {
    overflow-y: scroll;
}

.banner {
    background-color: #c9d697;
}

.banner p {
    font-size: 12px;
    line-height: 4px;
}

.carousel-item img {
    width: 100%;
    height: 740px;
    object-fit: cover;
}

.payment-options img{
    height: 24px;
    object-fit:scale-down;
}

.content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    text-align: center;
    z-index: 2;
}


/*Main page card images*/
.card-img-top-main {
    height: 400px;
    object-fit: cover;
}

.favorite-box {
    background: white;
    padding: 8px;
}

.card-shop-item {
    transition: transform 0.3s ease-in-out;
    cursor: pointer;
}


.card p {
    font-size: 14px;
    text-align: justify;
    border-radius: 0;
}
.card-shop-item:hover {
    transform: scale(1.05);
    box-shadow: 0px 4px 15px rgba(0,0,0,0.2);
}


/*Blog videos*/

.background-video {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 100%;
    height: 100%;
    object-fit: cover;
    transform: translate(-50%, -50%);
}

.overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5); /* Dark overlay */
}

.overlay-article { 
    transition: background-color 0.3s ease;
}

.overlay-article .card-title,
.overlay-article .card-text {
    color: white !important;
}

.video {
    position: relative;
}

.video:hover .overlay-article {
    background-color: transparent;
}

/*Log in*/
.log-in-card {
    max-width: 600px;
}




/*Main page blog cards*/

i {
    color: black;
}

a {
    text-decoration: none;
    color: inherit;
}

.page-link {
    color: inherit !important; /* Force override Bootstrap styles */
    text-decoration: none !important;
}

ul {
    list-style: none;
}

h1 {
    font-size: 3rem;
    font-weight: bold;
}

p {
    font-size: 1rem;
}

